/* Your code goes here */

/*
 * Terminology that I will use
 * alpha: "Either add it or remove it, the page's UI will not change"
 * beta: "Adding it does not do anything at all"
 * */

/* 
 * Make all containers to flex
 * 1. Default behaviour of display: flex is to fill row from left to right
 * 2. Main(x axis) Cross(y axis)
 * */


/*
 *
 * What I did this commit ?
 * I found that using flex-box would be really powerful thing
 * as I will not even be required to use other layouts
 * For the main website I can use flex-direction as column
 * and for the containers within, I can use the flex-direction as row
 * for example: If I had to show some gallery items from left to right
 * in such a way that they do not overflow, I can just use them insead
 *
 * */

.container {
  /* Adding a border really helps you to see the container */
  border: 1px solid #fff;
  /* Do not remove any code from line above */
  display: flex;
  /* flex-direction: row; /1* alpha *1/ */
  /* flex-direction: row-reverse; */ 
  /* flex-direction: column; */ 
  flex-direction: column-reverse; 
  /* float: right; /1* Moves the whole container to right instead of its children *1/ */
}
