.container {
  display: flex;
  border: 1px solid #fff;
  flex-flow: row;
  width: 800px;
}

.container div {
  width: 100px;
  margin: 0;
  /* flex-grow: 0; /1* Meaning they will not grow by themselves *1/ */
  flex-grow: 1; /* 1 means they will all grow by the same amount of pixels */
}

.container div:nth-child(2) {
  order: 0;
}

.container div:nth-child(3) {
  order: 0;
}
