.grid {
  display: flex;
}

.cell {
  flex: 1; /* 1 1 0% */
}

.gutters {
  margin: -10px 0 10px -10px;
}

.gutters > .cell {
  padding: 10px 0 0 10px;
}

.cell > div {
  padding: 10px;
  height: 100%;
}
