.vcenter {
  display: flex;
  height: 150px;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

li {
  list-style-type: none;
  flex-basis: 25%;
}

nav {
  width: 100%;
}

