.container {
  display: flex;
  border: 1px solid #fff;
  flex-flow: row;
}

.container div {
  width: 100px;
  margin: 0;
}

.container div:nth-child(1) {
  order: 0;
}

.container div:nth-child(2) {
  order: 0;
  flex-grow: 1;
}

.container div:nth-child(3) {
  order: 0;
}
