/* Your code goes here */

/*
 * Terminology that I will use
 * alpha: "Either add it or remove it, the page's UI will not change"
 * beta: "Adding it does not do anything at all"
 * */

/* 
 * Make all containers to flex
 * 1. Default behaviour of display: flex is to fill row from left to right
 * 2. Main(x axis) Cross(y axis)
 * */


/*
 * What I did this commit ?
 * This code will center your children inside a flex container
 * REMEMBER: I am defining properties of the container, not the 
 * items themselves, that is I tell a flex container to do stuff
 * not the children themselves
 * */

.container {
  /* Adding a border really helps you to see the container */
  border: 1px solid #fff;
  /* Do not remove any code from line above */
  display: flex;
  /* flex-direction: row; /1* alpha *1/ */
  flex-direction: row-reverse; 
  /* flex-direction: column; */ 
  /* flex-direction: column-reverse; */ 
  /* float: right; /1* Moves the whole container to right instead of its children *1/ */
  /* justify-content: flex-start; /1* alpha *1/ */
  /* justify-content: flex-end; */
  justify-content: center; /* Centers children horizontally in a flex container*/
}
