/*
 * Contrary to flex-grow whose default value is 0,
 * flex-shrink has default value to 1, which means
 * that flex-items are by default allowed to shrink
 * if there is not much space available.
 * */

.container {
  display: flex;
  border: 1px solid #fff;
  flex-direction: row;
  width: 500px;
}

.container div {
  flex-basis: 100px;
  flex-grow: 1;
  margin: 0;
  /* flex-shrink: 1; /1* alpha *1/ */
}

.container div:nth-child(1) {
  order: 0;
}

.container div:nth-child(2) {
  order: 0;
}

.container div:nth-child(3) {
  order: 0;
}
